@using CleanArchitecture.Application.ViewModels
@using CleanArchitecture.Application.Model
@model UserViewModel

<h4>User Profile</h4>
<hr />
<form>
    <div id="addUserFrm" class="row">
        <div class="col-md-4 text-center">
            @if (Model.ImageUrl != null)
            {
                <img src="@Model.ImageUrl" width="70%" />
            }
            else
            {
                <img src="/img/Default-Avatar.png" width="70%" />
            }
            <br />
            <label class="btn btn-file text-center">
                <input asp-for="ProfileImageUrl" type="file" value="Upload" />
            </label>
        </div>
        <div class="col-md-6" id="form">
            <input asp-for="@Model.Id" id="Id" hidden />
            <input asp-for="@Model.RoleId" hidden />
            <div class="form-group">
                <label asp-for="UserName"></label>
                <input asp-for="UserName" class="form-control" id="UserName"/>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" id="Email" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Rating"></label>
                <input asp-for="Rating" class="form-control" id="Rating" disabled />
            </div>
            <div class="form-group">
                <label asp-for="MemberSince"></label>
                <input asp-for="MemberSince" class="form-control" id="MemberSince" disabled />
            </div>
            @if (User.IsInRole(AppConst.Role.AdminRole))
            {
                <div class="form-group">
                    <label asp-for="RoleId"></label>
                    <select asp-for="RoleId" asp-items="@Model.RoleList" class="form-control" id="RolId">
                        <option disabled selected>--Select Role--</option>
                    </select>
                </div>
            }
            <div class="form-group">
                <button class="btn btn-success update">Update</button>
                <a asp-controller="Home" asp-action="Index" class="btn btn-warning" style="width:auto">Back to Home</a>
            </div>
        </div>
    </div>
</form>

@section scripts{
    <script src="/js/User.js"></script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
