@using CleanArchitecture.Application.ViewModels
@model UserListViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-6">
        <h4>User List</h4>
    </div>
</div>
<br />
<div class="card-body">

    @if (Model.Users.Any())
    {
        @Html.Partial("_UsersTable", Model)
    }
    else
    {
        <p>No Users</p>
    }
</div>

@section scripts{
    <script src="/js/User.js"></script>
}