<div class="alert alert-danger" role="alert">
    <h4>Exception Message</h4>
    <hr />
    @ViewBag.ErrorMessage
</div>
<a asp-action="Index" class="btn btn-warning" style="width:auto">Return Back</a>