@using CleanArchitecture.Domain.Model
@using Microsoft.AspNetCore.Identity
@model CleanArchitecture.Application.ViewModels.ForumListModel
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Forum";
}

<div class="row">
    <div class="col-6">
        <h4>Forum List</h4>
    </div>
    <div class="col-6">
        @if (User.IsInRole("Admin"))
        {
            <a class="btn btn-outline-success float-right" asp-action="Edit">Create new Forum</a>            
        }
    </div>
</div>
<br />
<div class="cbody">
    @Html.Partial("_ForumsTable", Model)
</div>


@section scripts{
    <script src="~/js/Forum.js"></script>
}

