@using Microsoft.AspNetCore.Identity
@using CleanArchitecture.Domain.Model
@using CleanArchitecture.Application.Model

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav navbar-nav flex-grow-1 justify-content-end">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <span class="nav-link text-light" title="Manage">Hello @UserManager.GetUserName(User)!</span>
        </li>
        <li class="nav-item">
            @*<form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link text-light">Logout</button>
        </form>*@
            <a class="nav-link text-light" asp-area="" asp-controller="Auth" asp-action="Logout">Logout</a>
        </li>
        <li class="nav-item dropdown text-white">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropDown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Manage
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropDownMenuLink">
                @if (User.IsInRole(AppConst.Role.AdminRole))
                {
                    <a class="dropdown-item text-dark" asp-area="" asp-controller="User" asp-action="Index">User</a>
                    <div class="dropdown-divider"></div>
                }
                <a class="dropdown-item text-dark" asp-area="" asp-controller="User" asp-action="Edit" asp-route-id="@UserManager.GetUserId(User)">Profile</a>
            </div>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-light" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            @*<a class="nav-link text-light" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>*@
            <a class="nav-link text-light" asp-area="" asp-controller="Auth" asp-action="Login">Login</a>
        </li>
    }
</ul>
