@using CleanArchitecture.Application.ViewModels
@model AuthViewModel

<h4>Login</h4>
<hr />
<form>
        @Html.AntiForgeryToken()
        <div id="loginFrm" class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" id="Email" />
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" id="PassWord" />
                </div>
                <div class="form-group">
                    <button class="btn btn-success login">Log in</button>
                </div>
            </div>
        </div>
    </form>

@section scripts{
    <script src="/js/Auth.js"></script>
}
